*{
    margin: 0;
    padding: 0;
}   
#tk {
    margin-top: 40px;
    width: 500px;
    height: 35px;
    border: 0px;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#tk:focus{
    outline: none;
}
.menu{
    padding-left: 180px;
   
}
/* nav a{
	padding-left: 20px;
} */
/* .can{
  margin-left: 180px;
} */
#navbarSupportedContent{
	/* margin-left: 0px; */
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}
#navbarSupportedContent a{
	margin-left: 20px;
}
#nut {
	float: right;
	font-size: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}


.snow-container { position: fixed; width: 100%; max-width: 100%; z-index: 99999; 
    pointer-events: none;
     overflow: hidden; top: 0; height: 100%; } 
.snow { display: block; position: absolute; z-index: 2; top: 0; right: 0; bottom: 0; left: 0; pointer-events: none; 
    -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); -webkit-animation: snow linear infinite; animation: snow linear infinite; } 
.snow.foreground { background-image: url("https://itexpress.vn/API/files/img/snow-medium.png"); -webkit-animation-duration: 15s; animation-duration: 10s; } 
.snow.foreground.layered { -webkit-animation-delay: 7.5s; animation-delay: 7.5s; } .snow.middleground { background-image: url(https://itexpress.vn/API/files/img/snow-medium.png); -webkit-animation-duration: 20s; animation-duration: 15s; } 
.snow.middleground.layered { -webkit-animation-delay: 10s; animation-delay: 10s; } 
.snow.background { background-image: url(https://itexpress.vn/API/files/img/snow-medium.png); -webkit-animation-duration: 25s; animation-duration: 20s; } 
.snow.background.layered { -webkit-animation-delay: 12.5s; animation-delay: 12.5s; } @-webkit-keyframes snow { 0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); } 100% { -webkit-transform: translate3d(5%,100%,0); transform: translate3d(5%,100%,0); } } @keyframes snow { 0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); } 100% { -webkit-transform: translate3d(5%,100%,0); transform: translate3d(5%,100%,0); }}
.b{
    margin-left: 12px;
    font-size: 18px;

    font-family: 'Times New Roman', Times, serif;
}
/*--------*/
.slidershow{
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -999;
    margin-top: 1px;
}

.navigation{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar{
	width: 200px;
	height: 200px;
	border:2px solid #fff;
	border-radius: 30px;
	margin: 10px;
	cursor: pointer;
}

.bar:hover{
	background: #fff;
	transition: 0.4s;
	border:2px solid red;
}


input[name="bottom"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 500%;
	height: 100%;
	display: flex;
}

.slide{
	width: 100%;
	transition: 0.6s;
}

.slide img{
	width: 100%;
	height: 100%;
}

#bottom_1:checked ~ .s1{
	margin-left: 0;
}
#bottom_2:checked ~ .s1{
	margin-left: -20%;
}
#bottom_3:checked ~ .s1{
	margin-left: -40%;
}
#bottom_4:checked ~ .s1{
	margin-left: -60%;
}
#bottom_5:checked ~ .s1{
	margin-left: -80%;
}
.carousel-inner{
    height: 500px;
}

/* <!--!> */
.products {
	padding: 20px 0;
	text-align: center;
}
.products > div > div {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.products > div:hover > div {
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
.dl-horizontal dt {
	float: left;
	width: 120px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 140px;
	text-align:left;
}
/* <!--!> */
.footer-distributed .footer-left{
	width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  }
  
  .footer-distributed h3 span{
	color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  }
  
  .footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	font-weight:400;
	text-decoration: none;
	color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
	width: 35%;
  }
  
  .footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	font-weight:400;
	vertical-align: middle;
	margin:0;
  }
  
  .footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
  }
  
  .footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
	content: "|";
	font-weight:300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  
  /* Footer Right */
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.footer-left{
	margin-left: 50px;
}
.footer-left img{
	margin-left: 100px;
}


.footer-distributed{
  background: rgb(68, 178, 241);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
 /* kết thúc */